* {
  border: 1px solid red !important;
}

body {
  background-image: url("/assets/images/deathStar.jpg");
}

p {
  color: white;
}

#slot {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  background-color: burlywood;
}
#charSelectSlot01{
    float: left;
}